*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: rgb(14, 50, 53);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.piano {
    display: flex;
}

.key {
    height: calc(var(--width) * 4);
    width: var(--width);
    transition: .3s;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 1px 1px 2px white;
    color: rgb(5, 57, 70);
    font-size: 1.6rem;
    font-weight: 800;
}

.white {
    --width: 100px;
    background: white;
    border: 1px solid #333;
}

.white.active {
    background-color: #ccc;
    box-shadow: inset 0 0 6px rgba(32, 34, 34, 0.466);
}

.black {
    --width: 60px;
    background-color: rgb(44, 42, 42);
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.637);
}

.black.active {
    box-shadow: inset 0 0 2rem black;
}